[Unit]
Description=OpenSSH server for %i
After=usernetns@%i.service
Wants=usernetns@%i.service

[Service]
NetworkNamespacePath=/var/run/netns/%i
BindPaths=/etc/netns/%i/resolv.conf:/etc/resolv.conf
Restart=on-failure
User=root
Group=root
WorkingDirectory=/home/%i
ExecStartPre=/usr/local/bin/usersshconfig %i
ExecStart=/usr/sbin/sshd -f /home/%i/.sshd/sshd_config -E /home/%i/.sshd/sshd.log
PIDFile=/home/%i/.sshd/sshd.pid
#AmbientCapabilities=CAP_NET_BIND_SERVICE
#CapabilityBoundingSet=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
